In [1]:
import pandas 
book_name = "LISTA_DE_CORTE_MC_MUEBLETV_A.xlsx"

In [2]:
df = pandas.read_excel(book_name, sheet_name=7)
df

,Ref PEÇA (A),Tipo (B),Material (C),QTD (D),Observações (E)
0,DOB_Markant11,Acessório,Material <not specified>,2,NaN
1,Corrediça_Quadro_CalhaE,Acessório,NaN,2,NaN
2,Corrediça_Quadro_CalhaD,Acessório,Corrdiça350 V6 30Kg,2,NaN

In [3]:
pandas.read_excel(book_name, sheet_name="DATA - Acessorios")

,Ref PEÇA (A),Tipo (B),Material (C),QTD (D),Observações (E)
0,DOB_Markant11,Acessório,Material <not specified>,2,NaN
1,Corrediça_Quadro_CalhaE,Acessório,NaN,2,NaN
2,Corrediça_Quadro_CalhaD,Acessório,Corrdiça350 V6 30Kg,2,NaN

In [7]:
from typing import List, Dict
class A:
    def __init__(self):
        self.context='sou context'
        self.headers = 'sou headers'
    
    @property
    def context(self) -> List[str]:
        return self._context

    @context.setter
    def context(self, context: List[str]) -> None:
        self._context = context

    @property
    def headers(self) -> Dict[str, str]:
        return self._headers

    @headers.setter
    def headers(self, headers: Dict[str, str]) -> None:
        self._headers = headers